# Railway
DATABASE_URL=#
PGHOST=#
PGPORT=#
PGDATABASE=#
PGUSER=#
PGPASSWORD=#

# Backend
SPRING_DATASOURCE_URL=#
SPRING_DATASOURCE_USERNAME=#
SPRING_DATASOURCE_PASSWORD=#
JWT_SECRET_KEY=#
# Mail properties
SUPPORT_EMAIL=#
APP_PASSWORD=#

# Python Pipeline
FPL_API_BASE_URL=#